*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

nav {
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

nav .logo {
    font-weight: 900;
    color: white;
    margin: 10px 13px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav a{
    text-decoration: none;
    color: gray;
}

nav ul li {
    margin: 10px 13px;
}

nav ul li:hover{
    color: white;
}

nav ul a:hover{
    color: white;
}

table{
    border: 2px solid black;
}

.container{
    max-width: 80vw;
    margin: auto;
}

h1,h2,h3{
    margin: 23px;;
}

.butn{
    background-color: black;
    color: white;
    border: 2px solid gray;
    border-radius: 8px;
    font-weight: 900;
    cursor: pointer;
}

img{
    cursor: pointer;
}

#alert{
    display: none;
}

h1{
    font-weight: 700;
}

.form-group{
    width: 300px;;
}

body{
    background-color: rgb(232, 232, 232);
}

.contactUs{
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 13px;
    justify-content: space-between;
}


@media (max-width: 767px) {
    /* Adjust styles for smaller screens */
    .container{
        width: max-content;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav ul{
        display: none;
    }
    .form-group {
        width: 90%; /* Reduce width for smaller screens */
    }
    
}

.cuLeft{
    display: flex;
    flex-direction: column;
}

#git{
    color: gray; font-size: 2em;
}

#git:hover{
    color: white;
}

#x{
    color:gray; font-size: 2em;
}

#x:hover{
    color: white;
}

#linkedIn{
    color:gray; font-size: 2em;
}

#linkedIn:hover{
    color: white;
}